#modle {
    background-color: greenyellow;
    width: 100%;
    height: 1000px
}

.container {
    width: 50%;
    height: auto;
    background-color: bisque;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 25%;
}


.titleForm{
    text-align: center;
    border: 1px solid black;
    /* position: relative; */
}

.H2_Custom {
    margin: 0px;
    height: 60px;
    line-height: 60px;
}

.titleFormInside {
    position: relative;
}

.btnClose {
    position: absolute;
    top: 0px;
    right: 0px;
}

.wrapRow {
    display: flex;
    height: 40px;
    /* justify-content: center; */
    border: 1px solid black;

}

.id {
    width: 40%;
    height: 20px;
    text-align: center;
    line-height: 40px
}

.input {
    width: 60%;
    height: 20px;
    text-align: center;
    line-height: 40px;
}

.inputIn {
    
    width: 90%;

}

.botton{
    width: 90%;
    font-size: 14px;
    /* border: 1px solid; */
    padding: 4px 16px;
    border-radius: 6px;
}

.wrapRowHandle {
    display: flex;
}

.btn{
    width: 50%;
    height: 40px;
    line-height: 40px;
}

.btn1_1.btn2_2 {
    position: absolute;
    height: 30px;
    width: 50%;
    right: 0px;
    
} 

.btn1.btn2 {
    position: absolute;
    height: 30px;
    width: 50%;
    right: 0px;
}

.wrapRowHandle {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    height: 40px;
    border: 1px solid black;

}



.btn1_1{
    margin-right: 10px;
}

/* .btn1_1{
    height: 29px;
    line-height: 40px;
    margin: 5px;
    width: 75px;
} */

.btn1_1,.btn1_2 {
    height: 29px;
    line-height: 40px;
    margin: 5px;
    width: 75px;
    

}

@media screen and (max-width : 1000px) {
    .id,.input{
        width: 100%;
    }
}